<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.skycaster.new_hacks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.IpcTestActivity"/>

        <service
            android:name=".service.IpcServer"
            android:process=":sub"/>
        <!-- <activity -->
        <!-- android:name=".activity.PendingIntentActivity" -->
        <!-- android:parentActivityName=".activity.IpcTestActivity"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value=".activity.IpcTestActivity"/> -->
        <!-- </activity> -->
        <activity
            android:name=".activity.PendingIntentActivity"
            android:autoRemoveFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""/>
        <activity android:name=".activity.NotificationDemo"/>
        <activity android:name=".activity.ThreadPoolDemo"/>
        <activity android:name=".activity.SnrChartViewDemo"/>
        <activity android:name=".activity.ConfigChangeDemo"/>
        <activity android:name=".activity.SpannableTextDemo">
        </activity>
        <activity android:name=".activity.DynamicLayoutActivity">
        </activity>
        <activity android:name=".activity.VectorDrawableDemo">
        </activity>
        <activity android:name=".activity.NewAnimationDemo">
        </activity>
        <activity android:name=".activity.ZmbleImageViewDemo">
        </activity>
        <activity android:name=".activity.ListViewTestDemo">
        </activity>
        <activity android:name=".activity.MatrixTestActivity">
        </activity>
        <activity android:name=".activity.VectorDrawableCompatDemo">
        </activity>
        <activity android:name=".activity.StripperDemo">
        </activity>
        <activity android:name=".activity.ScratchViewDemo">
        </activity>
        <activity android:name=".activity.ColorMatrixDemo_One">
        </activity>
        <activity android:name=".activity.ColorMatrixDemo_Two">
        </activity>
        <activity
            android:name=".activity.MatrixDemo_One"
            android:label="@string/title_activity_matrix_demo__one"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.DrawBitmapMessDemo">
        </activity>
        <activity android:name=".activity.ActionBarDemo">
        </activity>
        <activity android:name=".activity.ToolBarActivity">
        </activity>
        <activity android:name=".activity.DrawingPadDemo"/>
        <activity android:name=".activity.DrawingCacheDemo">
        </activity>
    </application>

</manifest>